/* Generado por Michael Brandon Serrato Guerrero - @mikebsg01 - ForoexpertoWS
   Correo Electrónico: mikebsg01@gmail.com
 */



@font-face {
    font-family: 'CODE bold';
    src: url('code-bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'CODE light';
	src: url('code-light.otf');
	font-weight: normal;
	font-size: normal;
}
